@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@font-face {
  font-family: "Impact";
  src: local("Impact");
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #1e2023;
  background-image: url(./img/bg.jpg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 16px;
  letter-spacing: 0.2px;
  line-height: 24px;
}

main {
  flex-grow: 1;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  min-width: 320px;
  max-width: 360px;
  width: 100%;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1 {
  font-family: "Impact", sans-serif;
  font-size: 136px;
  letter-spacing: 1.8px;
  line-height: 80px;
  text-transform: uppercase;
  color: #f0f0f0;
}

h2 {
  font-family: "Impact", sans-serif;
  font-size: 52px;
  letter-spacing: 1.8px;
  line-height: 64px;
  text-transform: uppercase;
  color: #f0f0f0;
}

h3 {
  font-family: "Poppins Medium", sans-serif;
  font-size: 32px;
  letter-spacing: 0.5px;
  line-height: 40px;
  text-transform: uppercase;
}

.logo-text {
  font-family: "Impact", sans-serif;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #f0f0f0;
}

.header-logo {
  color: #4caf50;
}

/*------------HEADER--------------*/
.header {
  padding: 20px 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-page {
  display: flex;
  align-items: center;
  gap: 16px;
  color: #f0f0f0;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

.page-nav-list {
  display: none;
}

.mobile-open-btn,
.mobile-menu-close-btn {
  border: none;
  line-height: 0;
  background-color: transparent;
  padding: 0;
  fill: transparent;
  stroke: #f0f0f0;
  fill: #f0f0f0;
}

.mobile-menu-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 20px;
  z-index: 10;
  background-image: url(./img/bg.jpg);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateX(100%);
  transition: opacity 350ms, visibility 350ms, transform 350ms;
}

.mobile-menu-container.open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateX(0);
}

.mobile-menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-menu-nav-list {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.mobile-menu-nav-item {
  color: #f0f0f0;
}

.mobile-menu-nav-link:hover,
.mobile-menu-nav-link:focus {
  background-color: #fbfbfb;
  color: #000;
}

/*-----------HERO-----------------*/
.hero-section {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 36px;
}

.hero-first-part {
  margin-bottom: 72px;
}

.hero-heading {
  font-size: 64px;
  line-height: 1.25;
  letter-spacing: 0em;
  text-transform: uppercase;
  margin-bottom: 40px;
  padding-top: 48px;
}

.hero-highlight {
  color: #4caf50;
}

.hero-image {
  display: none;
}

.container-btn-hero {
  position: relative;
  height: 92px;
  margin-bottom: 40px;
}

.hero-link {
  position: relative;
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 12px;
  z-index: 5;
  max-width: 416px;
  color: #f0f0f0;
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-link::after {
  content: "";
  width: 165px;
  height: 92px;
  z-index: -1;
  margin-left: -83px;
  background-color: rgba(0, 176, 104, 0.2);
  border-radius: 16px;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-link:hover::after,
.hero-link:active::after {
  background-color: #4caf50;
}

.social-icons {
  fill: #4caf50;
}

.hero-link-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.hero-social-list {
  color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 32px 0;
}

.hero-description-text {
  font-size: 18px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #f0f0f0;
  padding-left: 0px;
  padding-bottom: 40px;
  text-align: left;
}

.hero-social-link {
  transition: color 0.3s ease;
}

.hero-social-link:hover {
  color: #4caf50;
}

.hero-social-link:focus {
  color: #4caf50;
}

/*-----------ABOUT----------------*/
.about-me {
  margin-top: 40px;
  background-color: #1e2023;
  border-radius: 8px;
}

.about-me-title {
  margin-bottom: 40px;
}

.about-me-span {
  color: #4caf50;
}

.about-me-img-block {
  display: block;
  border-radius: 16px;
  margin-bottom: 32px;
}

.about-me-second-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 125%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-bottom: 32px;
}
.about-me-p-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: white;
  margin-bottom: 32px;
  text-align: justify;
}

.about-me-my-picture {
  border-radius: 8px;
}
.about-me-education {
  color: #f0f0f0;
}
.about-me-educ-container {
  color: #f0f0f0;
}
.about-me-third-title {
  font-weight: 500;
  margin-bottom: 32px;
}

.about-me-info-list {
  margin-bottom: 32px;
}

.about-me-info-list {
  list-style: none;
  padding: 0;
}

.about-me-info-list::before {
  content: " ";
  color: #4caf50;
  font-weight: bold;
}

/*------------TECH-SKILLS---------------*/

.tech-skills {
  white-space: nowrap;
}

.upper {
  background-color: #214136;
  width: 100%;
  position: relative;
  z-index: 2;
}

.lower {
  transform: rotate(2deg);
  background-color: #2a2d32;
  position: relative;
  z-index: 1;
}

.skills-list {
  width: 850px;
  display: flex;
  gap: 12px;
  padding-top: 32px;
  padding-bottom: 32px;
  margin: 0;
  text-transform: uppercase;
  justify-content: center;
}

.upper-skills-list li {
  color: #f0f0f0;
}

.lower-skills-list li {
  color: #4caf50;
}

.upper-skills-list li::after {
  content: "•";
  margin-left: 16px;
  color: #4caf50;
}

.lower-skills-list li::after {
  content: "•";
  margin-left: 16px;
  color: #f0f0f0;
}

.anim {
  overflow: hidden;
}

/* animation  */

@keyframes textAnimation {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.skills-list {
  animation: textAnimation 10s linear infinite;
  position: relative;
}

/*------------MY PROJECTS--------------*/

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.projects {
  width: 100vw;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.projects .projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 100%;
}

.projects-title {
  font-size: 62px;
}

.color-text {
  color: #4caf50;
}

.projects-list-item {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 320px;
  background-color: #1e2023;
  border-radius: 10px;
}

.projects-list-item:not(:last-child) {
  margin-bottom: 40px;
}

.proj-wrap-img {
  width: 320px;
}

.proj-img {
  border-radius: 16px;
}

.proj-tech-stack {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: #f0f0f0;
  padding-bottom: 4px;
}

.proj-wrap-descr {
  width: 320px;
}

.proj-descr-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 125%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #f0f0f0;
  margin-bottom: 16px;
}

.proj-descr-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f0f0f0;
  border-radius: 8px;
  padding: 12px 24px;
  width: 125px;
  height: 48px;
  background-color: #2a2d32;
  margin-left: auto;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.proj-descr-link:hover {
  background-color: #3b3f45;
}

.proj-link-svg {
  stroke-width: 2px;
  stroke: #4caf50;
  fill: transparent;
  margin-left: 12px;
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.proj-descr-link:hover .proj-link-svg {
  transform: scale(1.15, 1.15);
}

.projects-wrapper-btn {
  position: relative;
}

.proj-btn {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  white-space: nowrap;
  border: none;
  background-color: transparent;
  padding: 12px 24px;
  width: 154px;
  height: 52px;
  margin: 0 auto;
}

.proj-btn-text {
  position: relative;
  display: inline-block;
  color: #f0f0f0;
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.proj-btn:hover .proj-btn-text {
  color: #4caf50;
}

.proj-btn-text::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #4caf50;
  bottom: -2px;
  left: 0;
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.proj-btn:hover .proj-btn-text::after {
  transform: scale(1.2, 1.05);
}

.projects-load-btn {
  position: relative;
  white-space: nowrap;
}

.projects-clear-btn {
  position: absolute;
  top: 0;
  left: 0;
}

/*----------------BENEFITS---------------*/
.benefits-wrapper {
  padding-top: 80px;
}

.benefits-section-title {
  margin-bottom: 40px;
  font-size: 62px;
  letter-spacing: 0em;
  text-transform: uppercase;
}

.benefits-span {
  color: #4caf50;
}

.benefits-list {
  color: #f0f0f0;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 32px;
}
.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  border-radius: 8px;
  width: 48px;
  height: 48px;
  background-color: rgba(20, 197, 124, 0.1);
  margin-bottom: 16px;
}
.benefits-icon {
  stroke: #4caf50;
  fill: rgba(20, 197, 124, 0.1);
}
.benefits-hero {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 16px;
}
.benefits-description {
  font-weight: 300;
}
.benefits-description-not {
  margin-bottom: 0;
}

/*------------CONTACTS---------------*/
.contact-section {
  display: flex;
  justify-content: center;
}

.contact-section .contact-container {
  padding-top: 80px;
}

.work-together {
  line-height: 1.2;
  letter-spacing: 0.03em;
  font-size: 62px;
  margin-bottom: 40px;
}

.work-together span {
  color: #4caf50;
}

.contact-info-container {
  margin-bottom: 40px;
}

.contact-me {
  margin-bottom: 32px;

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f0f0f0;
}

.contact-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contact-li-container {
  display: flex;
}

.contact-list .contact-icon {
  margin-right: 16px;
  display: inline-flex;
  fill: transparent;
  stroke: #4caf50;
}

.contact-list li {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #f0f0f0;
}

.contact-li-container .tel,
.contact-li-container .mailto {
  transition: color 0.3s ease;
}

.contact-li-container .tel:hover,
.contact-li-container .tel:focus,
.contact-li-container .mailto:hover,
.contact-li-container .mailto:focus {
  color: #4caf50;
}

.contact-section .form {
  display: flex;
  flex-direction: column;
  gap: 32px 0;
  width: 320px;
}

.form-email {
  border-radius: 8px;
  border: none;
  padding: 16px;
  width: 100%;
  height: 48px;
  background-color: #2a2d32;

  font-weight: 300;
  letter-spacing: 0.03em;
  color: #f0f0f0;
}

.form-email::placeholder {
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: rgba(240, 240, 240, 0.6);
}

.form-email:-webkit-autofill,
.form-email:-webkit-autofill:focus,
.form-email:-internal-autofill-selected {
  transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
}

.form-message {
  border-radius: 8px;
  border: none;
  padding: 16px;
  width: 100%;
  height: 128px;
  background: #2a2d32;
  resize: none;

  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #f0f0f0;
}

.form-message::placeholder {
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: rgba(240, 240, 240, 0.6);
}

.form-btn {
  border-radius: 8px;
  border: none;
  padding: 12px 24px;
  width: 320px;
  height: 48px;
  background: #4caf50;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: #f0f0f0;
  transition: background-color 0.3s ease;
}

.form-btn:hover,
.form-btn:focus {
  background: #1e2023;
}

/*------------MEDIA---------------*/
@media screen and (min-width: 320px) {
  .container {
    padding: 0 20px;
  }

  .hero-heading {
    font-size: 62px;
  }

  .contact-section .contact-container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .contact-section .form {
    max-width: 100%;
  }

  .form-btn {
    max-width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .header {
    padding: 32px 0;
  }

  .logo-text {
    font-size: 32px;
    letter-spacing: 0.05em;
  }

  .page-nav-list {
    display: flex;
    gap: 40px;
  }

  .mobile-open-btn {
    display: none;
  }

  .mobile-menu-container {
    display: none;
  }

  .page-nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 91px;
    height: 100%;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    color: #fbfbfb;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
      color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .page-nav-link:hover,
  .page-nav-link:focus {
    color: #4caf50;
  }

  .page-nav-link:active {
    color: #fbfbfb;
    background-color: #4caf50;
  }

  .hero-heading {
    font-size: 124px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    text-transform: uppercase;
  }

  .container-btn-hero {
    position: relative;
    height: 92px;
    margin-bottom: 40px;
  }

  .hero-link {
    margin-bottom: 40px;
  }

  .hero-link-text {
    font-size: 20px;
    line-height: 1.6;
  }

  .hero-link::after {
    content: "";
    width: 261px;
    height: 96px;
    z-index: -1;
    margin-left: -107px;
    background-color: rgba(0, 176, 104, 0.2);
    border-radius: 16px;
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .hero-link:hover::after,
  .hero-link:active::after {
    background-color: #4caf50;
  }

  .social-icons {
    fill: #4caf50;
  }

  .hero-description-text {
    font-size: 20px;
    line-height: 1.6;
    letter-spacing: 0.03em;
  }

  .hero-social-list {
    flex-direction: row;
    justify-content: center;
    gap: 100px;
  }

  .about-me-main-title {
    display: flex;
    font-family: "Impact", sans-serif;
    font-weight: 400;
    font-size: 108px;
    line-height: 115%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-align: right;
  }

  .about-me-wrap {
    display: flex;
    margin-bottom: 60px;
  }

  .about-me-information {
    width: 700px;
    padding: 0 0 0 22px;
  }

  .about-me-img-block {
    margin-top: auto;
  }

  .about-me-education {
    display: flex;
    width: 704px;
  }

  .about-me-list {
    gap: 12px;
  }

  .about-me-educ-container {
    box-sizing: border-box;
    width: 336px;
    justify-content: space-between;
  }

  .about-me-list {
    display: flex;
    flex-direction: column;
  }

  .about-me-role-container {
    padding: 0 32px;
  }

  .about-me-second-title {
    font-size: 36px;
  }

  .projects-title {
    font-size: 124px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    text-align: left;
    align-self: flex-start;
  }

  .projects-container {
    gap: 60px;
  }

  .projects-list-item {
    gap: 16px;
    width: 704px;
  }

  .projects-list-item:not(:last-child) {
    margin-bottom: 60px;
  }

  .proj-wrap-img {
    width: 704px;
  }

  .proj-img {
    border-radius: 24px;
  }

  .proj-wrap-descr {
    display: flex;
    align-items: center;
    width: 704px;
  }

  .proj-descr-title {
    line-height: 133%;
    letter-spacing: 0.01em;
    margin-bottom: 0px;
  }

  .proj-btn {
    font-size: 20px;
    line-height: 160%;
    letter-spacing: 0.03em;
    width: 165px;
    height: 56px;
  }

  .benefits-wrapper {
    padding-top: 124px;
  }

  .benefits-section-title {
    font-size: 90px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    text-align: left;
  }

  .benefits-list {
    display: grid;
    grid-template-columns: repeat(2, 336px);
    grid-template-rows: repeat(2, auto);
  }

  .benefits-items-list-1 {
    grid-column-start: 1;
    grid-row-start: 1;
  }

  .benefits-items-list-2 {
    grid-column-start: 2;
    grid-row-start: 1;
  }

  .benefits-items-list-3 {
    grid-column-start: 1;
    grid-row-start: 2;
  }

  .benefits-items-list-4 {
    grid-column-start: 2;
    grid-row-start: 2;
  }

  .benefits-hero {
    font-size: 20px;
  }

  .work-together {
    font-size: 90px;
  }

  .contact-me {
    width: 488px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.6;
  }

  .contact-info-container {
    margin-bottom: 60px;
  }

  .contact-section .form {
    width: 704px;
  }

  .form-btn {
    width: 173px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }

  .hero-container {
    padding: 80px 0 80px;
  }

  .hero-first-part {
    position: relative;
  }

  .hero-heading {
    padding-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 136px;
  }

  .hero-image {
    position: absolute;
    top: 0;
    right: 390px;
    transform: translateY(-10%);
  }

  .hero-highlight {
    display: block;
    margin-top: 0;
  }

  .hero-img {
    border-radius: 100px;
  }

  .hero-image {
    display: flex;
  }

  .hero-second-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hero-description-text {
    padding-left: 50px;
  }

  .container-btn-hero {
    position: relative;
    height: 92px;
    margin-bottom: 40px;
  }

  .hero-link {
    position: relative;
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: 12px;
    z-index: 5;
    max-width: 416px;
    margin-left: 76px;
    margin-bottom: 0;
  }

  .hero-link::after {
    content: "";
    width: 261px;
    height: 96px;
    z-index: -1;
    margin-left: -107px;
    background-color: rgba(0, 176, 104, 0.2);
    border-radius: 16px;
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .hero-link:hover::after,
  .hero-link:active::after {
    background-color: #4caf50;
  }

  .hero-link-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    z-index: 5;
  }

  .social-icons {
    fill: #4caf50;
  }

  .hero-description-text {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
  }

  .about-me-main-title {
    display: flex;
    font-family: "Impact", sans-serif;
    font-weight: 400;
    font-size: 136px;
    line-height: 156px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    text-align: right;
  }

  .about-me-information {
    display: flex;
    flex-direction: column;
    width: 600px;
  }

  .about-me-img-block {
    margin-top: 0;
    margin-right: 100px;
  }

  .about-me-education {
    margin-left: auto;
    margin-right: auto;
    width: 804px;
    display: flex;
    justify-content: space-between;
  }

  .about-me-role-container {
    padding: 0 82px;
  }

  .about-me-list {
    gap: 16px;
  }

  .about-me-second-title {
    font-size: 36px;
  }

  .skills-list {
    width: 1600px;
  }

  .skills-list {
    animation: textAnimation 15s linear infinite;
  }

  .projects {
    margin-top: 64px;
  }

  .projects-container {
    max-width: 1280px;
    padding: 0 136px;
    gap: 80px;
  }

  .projects-list-item {
    width: 1008px;
  }

  .projects-list-item:not(:last-child) {
    margin-bottom: 80px;
  }

  .proj-wrap-img {
    width: 1008px;
  }

  .proj-wrap-descr {
    width: 1008px;
  }

  .benefits-wrapper {
    padding-top: 164px;
  }

  .benefits-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
  }

  .benefits-items-list-1 {
    grid-column-start: 1;
    grid-row-start: 1;
  }

  .benefits-items-list-2 {
    grid-column-start: 2;
    grid-row-start: 1;
  }

  .benefits-items-list-3 {
    grid-column-start: 1;
    grid-row-start: 2;
  }

  .benefits-items-list-4 {
    grid-column-start: 2;
    grid-row-start: 2;
  }

  .contact-section .contact-container {
    padding-top: 164px;
  }

  .work-together {
    margin-bottom: 80px;
    width: 520px;
  }

  .contact-me {
    margin-bottom: 120px;
  }

  .contact-section .contact-container {
    display: flex;
    gap: 0 116px;
    align-items: flex-end;
  }

  .contact-info-container {
    margin-bottom: 0;
  }
}

/* Pop-up */

.modal-overlay {
  background: rgba(30, 32, 35, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

.modal-window {
  background-color: #2a2d32;
  border-radius: 16px;
  padding: 48px 32px;
  max-width: 320px;
  position: relative;
}

.modal-title {
  padding-bottom: 16px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #4caf50;
}

.modal-description {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
  color: #f0f0f0;
}

.modal-close-icon {
  fill: transparent;
  stroke: #f0f0f0;
  transition: stroke 0.3s ease;

  position: absolute;
  top: 16px;
  right: 16px;
}

.modal-close-icon:hover,
.modal-close-icon:focus {
  stroke: #4caf50;
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}

.no-scroll {
  overflow: hidden;
}

/* Email error */

.email-wrapper {
  position: relative;
}

.invalid input {
  color: #f05748;
  border: 1px solid #f05748;
  position: relative;
}

.invalid::after {
  content: "Invalid name, try again";
  color: #f05748;
  font-size: 12px;
  position: absolute;
  z-index: 999;
  bottom: -24px;
  left: 0;
}

/*-------FOOTER-----------*/
.footer-section {
  color: #f0f0f0;
}

.footer-wraper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 40px;
  text-align: center;
}

.footer-logo {
  font-family: "Impact", sans-serif;
  font-size: 32px;
  text-transform: uppercase;
  color: #f0f0f0;
  transition: color 0.3s ease;
}

.footer-logo:hover {
  color: #4caf50;
}

.footer-logo:focus {
  color: #4caf50;
}

.footer-accent {
  color: #4caf50;
}

.footer-accent:hover {
  color: #f0f0f0;
}

.footer-accent:focus {
  color: #f0f0f0;
}

.footer-link {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 40px;
}
.footer-item {
  font-weight: 300;
}
.footer-item:hover {
  color: #4caf50;
}
.footer-item:focus {
  color: #4caf50;
}
.footer-text-end {
  margin-bottom: 24px;
  text-align: center;
  font-weight: 300;
}

.footer-text-end span {
  display: block;
}

@media screen and (min-width: 768px) {
  .footer-wraper {
    border-top: 1px solid #e4e5e6;
  }

  .footer-logo {
    align-self: flex-start;
  }

  .footer-section {
    padding-top: 0px;
  }

  .footer-link {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    justify-content: center;
  }

  .footer-text-end {
    max-width: 1280px;
    display: flex;
    gap: 10px;
    justify-content: center;
  }
}

@media screen and (min-width: 1280px) {
  .footer-section {
    padding-top: 164px;
  }
  .footer-item {
    transition: color 0.3s ease;
  }
  .footer-wraper {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  .footer-link {
    margin-bottom: 0;
  }
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: green;
  color: white;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.scroll-to-top.show {
  opacity: 1;
}

@media screen and (min-resolution: 192dpi) and (min-width: 1280px),
  screen and (min-resolution: 2dppx) and (min-width: 1280px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 1280px) {
}

@media screen and (min-resolution: 192dpi) and (max-width: 1279px),
  screen and (min-resolution: 2dppx) and (max-width: 1279px),
  screen and (min-device-pixel-ratio: 2) and (max-width: 1279px) {
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px),
  screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
}
